* {
  margin: 0;
  padding: 0;
}

body {
  background: lightseagreen;
  text-align: center;
}
.header {
  font-size: 4rem;
  margin-top: 1rem;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 8vmin;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  color: lightcoral;
}
#reset {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: none;
}

#message {
  color: antiquewhite;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.winning {
  margin-bottom: 2rem;
  height: 20vmin;
}
.hide {
  display: none;
}
