.clock {
  width: 200px;
  height: 200px;
  position: relative;
  border: 7px solid #282828;
  border-radius: 50%;
  margin: 50px auto;
}
.hand {
  position: absolute;
  top: 50%;
  right: 50%;
  height: 6px;
  background: #61afff;
  transform-origin: 100%; /* brings the 3 hands together at their origin that is center of the clock, default is 50% */

  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: ease-out;
}

.hand.hour-hand {
  width: 30%;
}

.hand.min-hand {
  height: 3px;
  width: 40%;
}

.hand.sec-hand {
  width: 45%;
  height: 2px;
}
